#back {
	-fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
	-fx-background-image: url('../resources/icons/icon_back_dark.png');
}
.button {
	-fx-background-size: 200px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
#play {
	-fx-background-image: url('../resources/icons/icon_play.png');
}
/*#cookie {
	-fx-background-image: url('../resources/images/amongus_released.png');
}
#cookiePressed {
	-fx-background-image: url('../resources/images/amongus_pressed.png');
}*/