#back {
	-fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
	-fx-background-image: url('../resources/icons/icon_back_dark.png');
}
#cookie {
	-fx-background-size: 200px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
	-fx-background-image: url('../resources/images/cookie_released.png');
}
#cookiePressed {
	-fx-background-size: 200px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
	-fx-background-image: url('../resources/images/cookie_pressed.png');
}